
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Rename Files</title>
    <!-- Load the static files -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="container">
            <label for="imageList" class="label_class">Upload Your Files (Max 50):</label><br>        
        </div>
    </div>

    <div class="container">
        <div id="upload-form">
            <form method="POST" enctype="multipart/form-data" id="upload-form">
                {% csrf_token %}
                <input type="file" name="files" multiple required>
                <input class="upload-button" type="submit" value="Upload">
            </form>
        </div>
        
        {% if download_url %}
    <a class="download-link" href="{{ download_url }}">Download Zipped Files</a>

    <h2>Individual Files</h2>


    <div id="image-container">
        
            {% for file_url in file_urls %}
                <div class="box">
                    <img src="{{ file_url }}" alt="Image">
                   <a href="{{ file_url}}" download>
                        <span class="serial">
                            {% if "/" in file_url|slice:"-6:" %}
                                {{ file_url|slice:"-5:" }}
                            {% else %}
                                {{ file_url|slice:"-6:" }}
                            {% endif %}
                        </span>         
                    </a>                 
                </div>
            {% endfor %}
        
    </div>

{% endif %}

    </div>

    <!-- Include JavaScript at the bottom of the body -->
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
